:root {
    --font-color: rgb(240, 244, 239);
    --text-size: 1.1rem;

    --primary-color: rgba(180, 205, 237, 0.16);
    --secondary-color: rgba(52, 73, 102, 0.312);
    --tertiary-color: rgb(191, 204, 148);

    --primary-icon-size: 68px;
    --secondary-icon-size: 34px;
}

* {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    font-family: 'Segoe UI';
    font-weight: 400;
}


html {
    height: 100%;
}

body {
    min-height: 100%;

    background: url(asset/images/moody-forest.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    position: relative;

    flex-direction: column;
}

main {
    height: 100%;

    flex: auto;

    display: flex;

    align-items: center;
    justify-content: center;
}

footer {
    height: 44px;

    text-align: center;
    padding-top: 20px;
}

#content {
    margin-top: 40px;

    width: 680px;
    height: 650px;

    background-color: var(--primary-color);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: none;

    display: grid;

    grid-template-areas: 
        "search-bar search-bar"
        "heading heading"
        "condition condition"
        "wind-humid wind-humid"
        "future-days future-days";
}

.main.icon {
    width: var(--primary-icon-size);
}

.secondary.icon {
    width: var(--secondary-icon-size);
}

.wrapper, .card {
    display: flex;

    align-items: center;
    justify-content: center;
}

#search-bar {
    grid-area: search-bar;
}

#search-bar > input {
    appearance: none;
    background: transparent;

    border: none;
    border-radius: 10px;
    outline: 3px solid var(--font-color);
    height: 1.8rem;
    padding: 4px;

    font-size: var(--text-size);
}

#search-bar > input::placeholder {
    color: var(--font-color);
}

#search-bar > input:focus {
    outline: 3px solid var(--secondary-color);
}

#search-bar > button {
    background: none;
    outline: none;
    border: none;

    margin-left: 8px;

    border: 1px solid transparent;
    border-radius: 10px;
}

#search-bar > button:hover {
    transform: scale(1.1);
}

#search-bar > button:active {
    background-color: var(--secondary-color);
}

#search-bar > button:focus {
    border: 1px solid black;
}

#search-bar > button > #search-icon{
    width: var(--secondary-icon-size);
    height: var(--secondary-icon-size);
    border: none;
    border-radius: 10px;
}

#date-address-heading {
    grid-area: heading;

    flex-direction: column;
}

#date-address-heading > .address-heading {
    font-weight: 500;
}

#weather-condition {
    grid-area: condition;

    flex-direction: column;
}

#weather-condition > .temperature {
    font-size: 2.8rem;
}

#weather-condition > .temperature::after,
#future-days > #future-days-cards > .card > .temp::after {
    content: "\00B0";
}

#wind-humid {
    grid-area: wind-humid;

    display: flex;

    justify-content: space-evenly;
}

#wind-humid > .card {
    flex-direction: column;
    justify-content: space-evenly;

    width: 90px;
    height: 110px;

    background-color: var(--secondary-color);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: none;
}

#wind-humid > #wind.card > p.windspeed::after {
    content: " km/h";
}

#wind-humid > #humidity.card > p.humid::after {
    content: "%";
}

#future-days {
    grid-area: future-days;
}

#future-days > #future-days-cards {
    column-gap: 20px;
}

#future-days > #future-days-cards > .card {
    width: 90px;
    height: 110px;

    background-color: var(--secondary-color);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: none;

    flex-direction: column;
    justify-content: space-evenly;
}

#github-icon {
    vertical-align: bottom;
    margin-left: 8px;
}

#modal-loader {
    margin: auto;
    display: flex;

    align-items: center;
    justify-content: center;

    width: 400px;
    height: 400px;

    background: none;
    outline: none;
    border: none;
}

#modal-loader > div {
    position: relative;
}

#modal-loader::backdrop {
    background-color: rgba(193, 193, 193, 0.158);

    backdrop-filter: blur(4px);
}

.loader {
    width: 175px;
    height: 80px;
    display: none;
    margin:auto;
    background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
    background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
    background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
  }

  .loader::before {
    content: '';  
    left: 60px;
    bottom: 18px;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    background-image: radial-gradient(circle 8px at 18px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, #FFF 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, #FFF 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 3s linear infinite;
  }
  .loader::after {
    content: '';  
    left: 94px;
    bottom: 15px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    background-image: radial-gradient(circle 5px at 12px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, #FFF 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, #FFF 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 4s linear infinite reverse;
  }
  
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
